  <div class="login-body">
    <div class="container">
      <div class="form-signin">
        <h2 class="form-signin-heading">join</h2>
        <div class="login-wrap">
            <p>We are in closed beta. To request an invite code <%=link_to "apply here", home_apply_path%>.</p>
                <%= form_for(resource, :as => resource_name, :class => "form-signin", :url => registration_path(resource_name)) do |f| %>

                <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  		      
            <p><%= f.text_field :referer, :class => "form-control", :placeholder => "invite code", :value => params[:invitecode] %></p>
            <p><%= f.text_field :name, :autofocus => true, :class => "form-control", :placeholder => "full name" %></p>
            <p><%= f.text_field :email, :class => "form-control", :placeholder => "email" %></p>
            <p><%= f.password_field :password, :class => "form-control", :placeholder => "password" %></p>

            <p><%= f.submit "Register", :class => "btn btn-lg btn-login btn-block" %></p>
            <% end %>
            

            <div class="registration">
                Already Registered.
                <a class="" href="login.html">
                    Login
                </a>
            </div>

        </div>

    </div>


  </div>

  <br>
  <br>


  



