   <div id="innerpage">
    <div class="container">
      <div class="col-lg-8">
       <section class="panel tasks-widget">
         <header class="panel-heading">
          <h2>Startup profile</h2>
         </header>

         <div class="panel-body">

           <%= form_for @startup, :html => { :multipart => true } do |f| %>

           <div class="row mt">
            <div class="col-lg-5">

              <div class="form-group">

                <% if @startup.errors.any? %>

                <div id="error_explanation">

                  <h2><%= pluralize(@startup.errors.count, "error") %> prohibited
                    this post from being saved:</h2>

                    <ul>
                      <% @startup.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>

                  <h3>Your business details</h3>

                  <p>
                    <%= f.label :name, "Company name" %><br>
                    <%= f.text_field :name, size: "30x1" %>
                  </p>

                  <p>
                    <%= f.label :bio, "2-3 lines describing your business" %><br>
                    <%= f.text_area :bio, size: "30x2" %>
                  </p>

                  <p>
                    <%= f.label :founded, "Approximate founding date?" %><br>
                    <%= f.date_select :founded, discard_day: true %>
                  </p>


                <p>
                  <%= f.label :sector, "Most relavent sector" %><br>
                  <%= f.select(:sector, [['Advertising, sales, marketing','Advertising, sales, marketing'],['Agriculture','Agriculture'],['Automotive & Transportation','Automotive & Transportation'],['Business Intelligence','Business Intelligence'],['Chemicals & Materials','Chemicals & Materials'],['Cleantech - Biofuels and Biomaterials','Cleantech - Biofuels and Biomaterials'],['Cleantech - Energy Efficiency','Cleantech - Energy Efficiency'],['Cleantech - Renewables','Cleantech - Renewables'],['Education & Training','Education & Training'],['Entertainment & Media','Entertainment & Media'],['Fashion','Fashion'],['Financial Services & Payments','Financial Services & Payments'],['Health and Wellness','Health and Wellness'],['Household & Personal Products','Household & Personal Products'],['ICT Hardware & Equipment','ICT Hardware & Equipment'],['Industrial Equipment & Services','Industrial Equipment & Services'],['Information & Data Analytics','Information & Data Analytics'],['Medical Technologies & Services','Medical Technologies & Services'],['Networking','Networking'],['Oil & Gas','Oil & Gas'],['Security (digital)','Security (digital)'],['Security (real world)','Security (real world)'],['Social Media & Gaming','Social Media & Gaming'],['Software & IT Services','Software & IT Services'],['Supply Chain and logistics','Supply Chain and logistics'],['Telecoms','Telecoms'],['Therapeutics','Therapeutics']]) %>

                </p>




                  <p>
                    <%= f.label :link, "Link to website" %><br>
                    <%= f.text_field :link, size: "30x1" %>
                  </p>




                </div>

              </div>

              <div class="col-lg-5 col-lg-offset-1">

                                  <p>Upload a photo or logo (optional)
                    <%= f.file_field :avatar %>
                  </p>

                <br>
                <p>Which stage best describes your business?</p>



                <div class="control-group">
                  <div class="controls">

                    <%= f.check_box :idea %>
                    <%= f.label :idea, "Idea stage" %>

                    <%= f.check_box :market %>
                    <%= f.label :market, "Market discovery" %>

                    <%= f.check_box :product %>
                    <%= f.label :product, "Product refinement" %>

                    <%= f.check_box :launch %>
                    <%= f.label :launch, "Launch" %>

                    <%= f.check_box :revenue %>
                    <%= f.label :revenue, "In Revenue" %>

                    <%= f.check_box :profitable %>
                    <%= f.label :profitable, "Profitable" %>

                    <%= f.check_box :scaling %>
                    <%= f.label :scaling, "Scaling" %>

                    <%= f.check_box :sale %>
                    <%= f.label :sale, "Sale" %>

                  </div>
                </div>

                <h3>Your needs</h3>

                <p>
                  <%= f.label :requests, "A detailed description of the expertise required" %><br>
                  <%= f.text_area :requests, size: "30x2" %>

                </p>


                <br>


                <div class="checkbox">
                  <label>
                    <%= f.check_box :updates %>
                    Recieve weekly update on new start-ups and advisors
                  </label>
                </div>


                <% if current_user.admin? %>

                <h3>Admin options</h3>

                <div class="checkbox">
                  <p>
                    <%= f.label :quality, "Rating (1-5)" %><br>
                    <%= f.text_field :quality, size: "3x1" %>
                  </p>
                </div>


                <div class="checkbox">
                  <label>
                    <%= f.check_box :featured %>
                    Featured startup
                  </label>
                </div>

                 <div class="checkbox">
                  <label>
                    <%= f.check_box :public %>
                    Make public
                  </label>
                </div>

<%else%>
<%= f.hidden_field :user_id, :value => current_user.id %>
                <% end %>

                

                <p>
                  <br>
                  <%= f.submit "Create Profile", :class => "btn btn-success pull-right" %>
                </p>


              </div>
            </div>

            <% end %>

          </div>
          <br>
          <br>
        </section>
      </div>
    </div>
  </div>
