
<div id="innerpage">
  <div class="container">
    <div class="col-lg-8">
     <section class="panel advisordetailpanel">
      <div class="panel advisordetailpanel-inner">
        <div class="row">
          <div class="col-lg-3">

            <%= link_to image_tag(@startup.avatar.url(:medium), class: "img-responsive"), @startup %>
          </div>
          <div class="col-lg-9">

            <div class="row">

              <div class="col-lg-9">
                <h2><%= @startup.name %></h2>

                <h3><%=@startup.sector%></h3>
                <h4><b>Looking for: </b><%=@startup.requests%></h4>
              </div>
              <div class="col-lg-3">

              </div>

            </div>
            <h4><%=@startup.bio%></h4>              
            <div>
              <p><b>Stage:</b><%=@startup.stage%></p>

            </div>

          </div>

          <div class="advisordetailpanel-inner">
            <div class="row">
              <div class="col-lg-12">

                <%= link_to "Follow", new_startup_path, :class => "btn btn-primary btn-md centered pull-right", method: :update %>
              </div>
              
            </div>
            
          </div>
          
        </div>
        
      </section>

    <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">

            <h2>Team</h2>
            <p>In order to get in touch with the team simply press connect on the most relavent team member and if they accept contact details will be exchanged.</p>
            <br>


            <div class="connectionspeople">
              <%= link_to image_tag(@startup.avatar.url(:thumb), class: "img-responsive", :width => "75"), @startup %>
              <%= link_to @startup.name, @startup %><br>
               <%= link_to "Connect", new_startup_path, :class => "btn btn-primary btn-xs centered", method: :update %>
            </div>

          </div> 
        </div> 
      </section>


      <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">

            <h2>Connections</h2>
            <br>


            <div class="connectionspeople">
              <%= link_to image_tag(@startup.avatar.url(:thumb), class: "img-responsive", :width => "75"), @startup %>
              <%= link_to @startup.name, @startup %><br>
              <%= link_to "Connect", new_startup_path, :class => "btn btn-primary btn-xs centered", method: :update %>
            </div>

          </div> 
        </div> 
      </section>


    </div>
  </div>
</div>




