   <div id="innerpage">
    <div class="container">

      <div class="col-lg-8">
      <br>

      <h1>Dashboard</h1>
      <br>
      <p>Hi <%=@user.name%>,</p>

      <p>This area will allow you to view matches and update preferences and profiles but not everything is quite ready yet! Thank you for your patience and we'll update you soon!</p>

      <br>
      

      <h3>Your profiles</h3>
      <br>

      <% if @advisorrecords %>
      <% @advisorrecords.each do |advisorlisting| %>
      <p><%= link_to "Edit your advisor profile", advisorlisting %></p>
      <% end %>

      <% else %>
      <p>You haven't created any advisor profiles yet</p>
  
      <% end %>

      <% if @startuprecords %>
      <% @startuprecords.each do |startuplisting| %>
      <p><%= link_to "Edit your startup profile", startuplisting %></p>
      <% end %>

      <% else %>
      <p>You haven't created any startup profiles yet</p>
  
      <% end %>
      

      

      <p>- - - - - - - - - - - - - - - -</p>

      <p><%= link_to "+ Add another startup Profile", new_startup_path %></p>
      <p><%= link_to "+ Add another advisor profile", new_advisor_path %></p>
   </div>
</div>
</div>


<br>
<br>
