 
<div id="innerpage">
  <div class="container">
    <div class="col-lg-6">
     <section class="panel advisordetailpanel">
      <div class="panel advisordetailpanel-inner">
        <div class="row">
          <div class="col-lg-3">

            <%= link_to image_tag(@user.avatar.url(:medium), class: "img-responsive"), @user %>
          </div>
          <div class="col-lg-9">

            <div class="row">

              <div class="col-lg-9">
                <h2><%= @user.name %></h2>
                <h4><%=@user.shortsummary%></h4>
                <p><%= link_to "Linkedin", @user.linkedin %></p>
              </div>
              <div class="col-lg-3">

              </div>

            </div>

            <div>


            </div>

          </div>

          <div class="advisordetailpanel-inner">
            <div class="row">
              <div class="col-lg-12">



                <%if @user.id == current_user.id%>
                <h3><%= link_to "edit profile", edit_user_registration_path(current_user), :class=>"pull-right" %></h3>
                <%else%>

                            <div>
            <form name=myform>
<input type=button value="Message" class="btn btn-default btn-md pull-right",
onClick="alert('This feature will be enabled soon, follow for now')">
</form>
</div>

                <div id="follow">
                  <% if @user.following?(current_user) %>
                  
                  <%= link_to "Unfollow", { :controller => "users", :action => "unfollow", :id => @user.id}, method: :put, remote: true, :class => "btn btn-danger btn-md pull-right" %> 

                  <%else%>

                  <%= link_to "Follow", { :controller => "users", :action => "follow", :id => @user.id}, method: :put, remote: true, :class => "btn btn-primary btn-md pull-right" %> 

                  <%end%>
                </div>



                <%end%>
              </div>
              
            </div>
            
          </div>
          
        </div>
        
      </section>

      <%if @user.advisor%>

      <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">

            <h2>Advisor credentials</h2>
            <br>
            <h4><b>Primary sector focus: </b><%=@user.sector%></h4>
            <p><b>Stage preference: </b><% if @user.idea%>idea: <i class="fa fa-check"></i><%end%>
              <% if @user.market%>market research: <i class="fa fa-check"></i><%end%>
              <% if @user.product%>product development: <i class="fa fa-check"></i><%end%>
              <% if @user.launch%>launch: <i class="fa fa-check"></i><%end%>
              <% if @user.revenue%>revenue: <i class="fa fa-check"></i><%end%>
              <% if @user.profitable%>profitable: <i class="fa fa-check"></i><%end%>
              <% if @user.scaling%>scaling: <i class="fa fa-check"></i><%end%>
              <% if @user.sale%>sale: <i class="fa fa-check"></i><%end%>
            </p>  


            <h5><%=@user.longsummary%></h5>   

            <br>



          </div> 
        </div> 
      </section>

      <%else%>

      <%if current_user.id == @user.id%>

      <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">
            <h3><%= link_to "Activate your advisor profile", edit_user_registration_path(current_user), :class=>"pull-right" %></h3>
          </div> 
        </div> 
      </section>

      <%end%>

      <%end%>



      <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">

            <h2>Following</h2>

            <br>

            <%if @followers%>
            <%@followers.each do |follower|%>

            <div class="connectionspeople">
              <%= link_to image_tag(follower.avatar.url(:thumb), class: "img-responsive", :width => "75"), follower %>
              <%= link_to follower.name, follower %><br>
            </div>
            <%end%>

            <%else%>

            <p>Not currently following any advisors or startups</p>
          

            <%end%>

          </div> 
        </div> 
      </section>


            <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">

            <h2>Followers</h2>

            <br>

            <%if @following%>
            <%@following.each do |followme|%>

            <div class="connectionspeople">
              <%= link_to image_tag(followme.avatar.url(:thumb), class: "img-responsive", :width => "75"), followme %>
              <%= link_to followme.name, followme %><br>
            </div>
            <%end%>

            <%else%>

            <p>Not currently following any advisors or startups</p>
          

            <%end%>

          </div> 
        </div> 
      </section>



    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <section class="panel advisordetailpanel">
        <div class="panel advisordetailpanel-inner">
          <div class="row">
            <h2>Your startup profiles</h2>
            <br>

            <% if @startups %>
            <% @startups.each do |startup| %>

            <div class="connectionspeople">
              <%= link_to image_tag(startup.avatar.url(:thumb), class: "img-responsive", :width => "75"), startup %>
              <%= link_to startup.name, startup %><br>
            </div>

            <%end%>
            <%else%>
            <p>No startups listed</p>

            <%end%>
            <br>
            <br><br>

            <%if @user.id == current_user.id%>
            <%= button_to "Create a startup profile", new_startup_path, method: :get, :class =>"btn btn-primary btn-md center" %>

            <%end%>

          </div>
        </div>
      </section>
    </div>

  </div>
  <br>
  <br>
</div>

















