
<div class="row centered">

  <% if users %>
  <% users.each do |advisor| %>

  <div class="advisorpanel">

    <%= link_to image_tag(advisor.avatar.url(:medium), class: "img-responsive"), advisor %>
    <div>
      <div class="advisorpanel-inner">

        <h3><%= link_to advisor.name, advisor%></h3>

        <p><b><%= advisor.name %></b><p>
          <p><b>Expertise:</b> <%=advisor.sector%></p>
          <p><%= advisor.shortsummary %></p>
          
          <div class="advisorpanel-bottom centered">
            <div class="row">
                              <%= link_to "Connect", new_startup_path, :class => "btn btn-primary btn-xs centered", method: :update %>

            </div>
          </div>

          <div>

          </div>
        </div>
      </div>
      <br>
    </div>

    <%end%>
    <%end%>

  </div>
