
<div class="row centered">

  <% if startups %>
  <% startups.each do |startup| %>

  <div class="featuredpanel">

    <%= link_to image_tag(startup.avatar.url(:medium), class: "img-responsive"), startup %>
    <div>
      <div class="featuredpanel-inner">

        <h3><%= link_to startup.name, startup%></h3>

        
          <h5><%= startup.bio %></h5>
          <p><b>Sector: </b><%= startup.sector %><p>
          <% if startup.casestudy %>
          <p><b>Case study:
            <%else%>
          <p><b>Searching for: </b><%= startup.requests %>
            <%end%>
          </p>
          <p><b>Followers: </b><a href="#">Kelsey Lyn, Mark Hammond, Tony Williams</a></p>


          <div>

          </div>
        </div>
      </div>
      <br>
    </div>

    <%end%>
    <%end%>

  </div>

