 <!-- ADVISORS -->

  <div id="white">
  	<div class="container">
  		<div class="row mt">
  			<div class="col-lg-8">
  				<h1>Featured advisors</h1>

  				<p>Advisors cover a wide range of sectors including <b>retail, FMCG, oil & gas, pharma, advertising, automotive, health, finance</b> as well as technical expertise ranging from scaling databases to drones. <a href="#lc">Sign-up below</a> to search across all advisors or submit a request. 
  					<br>

  				</div>

  			</div>

  			<div class="row mt">

          <br>

          <% if @featuredadvisors %>
  				<% @featuredadvisors.each do |advisor| %>
				
  				<div class="col-lg-3">
  					
  					<%= image_tag advisor.avatar.url(:thumb), class: "img-responsive" %>
  					<h3><%= advisor.name %></h3>
  					<p><b><%= advisor.sector %></b><p>
  						<p><%= advisor.summary %></p>
  						
  				</div>

  				<%end%>
          <%end%>


  							<div class="row mt">
      							<div class="col-lg-12">
      								<br>
                      <!-- SHOULD CHECK IF LOGGED IN FIRST-->

                                    <%= button_to "Register your startup", home_advisorsignup_path, :class => "btn btn-success btn-lg pull-right", :method => :get %>
      							</div>

  							</div>			

<br>
<br>
  						</div>
  					</div>