  <div id="lg">
    <div class="container">
      <div class="row centered">
          <h1>Connecting sector expertise with disruptive start-ups</h1>
          
          <h3>Unlock market access, funding and top level NEDs. <a href="#">Sign up.</a></h3>

      </div>
      <br>







      <div class="row centered">

        <% if @featuredstartups %>
        <% @featuredstartups.each do |startup| %>

        <div class="panel">
          <%= image_tag startup.avatar.url(:medium), class: "img-responsive" %>
          <div>
            <h3><%= startup.name %></h3>
            <p><b><%= startup.sector %></b><p>
              <p><%= startup.bio %></p>
              <a href="#"><i class="fa fa-unlink"></i> connect </a>
              <div>
              <%= image_tag "JamieHeywood.jpg", width: "40", height: "40", class: "img-circle" %>
              <%= image_tag "davidmorgan.jpg", width: "40", height: "40", class: "img-circle" %>
            </div>
            </div>
            <br>
          </div>

          <%end%>
          <%end%>

        </div>
      </div>
    </div>



    <div id="social">
      <div class="container">
       <div class="row centered">
        <h4>Our innovation partners</h4>
        <br>
        <div class="col-lg-2 col-lg-offset-1">
          <%= image_tag "aviva.jpg", height: "100" %>
        </div>
        <div class="col-lg-2">
          <%= image_tag "unilever.gif", height: "100" %>
        </div>
        <div class="col-lg-2">
          <%= image_tag "ibm.jpg", height: "100" %>
        </div>
        <div class="col-lg-2">
          <%= image_tag "samsung.jpg", height: "100" %>
        </div>
        <div class="col-lg-2">
          <%= image_tag "kpmg.jpg", height: "100" %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "layouts/getnotified" %>















