  <div id="lg">
    <div class="container">
      <div class="row centered">
        <h1>Connecting sector expertise with disruptive start-ups</h1>

        <h3>Unlock connections for market access, funding and top level NEDs. <%= link_to "Find out more.", home_about_path %>  </h3>
          
          <%if !user_signed_in?%>
          <p>We are currently in closed beta. You can request an invite here or if you have a code <%= link_to "sign in here", new_user_path %>.
          </p>
          <%end%>
          
      </div>
      <br>


      <%= render "featuredstartups", :startups => @startups %>

      <br>
      <br>
      <br>
      <h3><%=link_to "Browse and search all startups >", startups_path%></h3>
      <br>
      <br>
      <%= render "featuredadvisors", :users=> @users %>
      <br>
      <br>
      <h3><%=link_to "Browse and search all advisors >", users_path%></h3>

    </div>
  </div>



  <div id="social">
    <div class="container">
     <div class="row centered">
      <h4>Our innovation partners</h4>
      <br>
      <div class="col-lg-2 col-lg-offset-1">
        <%= image_tag "aviva.jpg", height: "100" %>
      </div>
      <div class="col-lg-2">
        <%= image_tag "unilever.gif", height: "100" %>
      </div>
      <div class="col-lg-2">
        <%= image_tag "ibm.jpg", height: "100" %>
      </div>
      <div class="col-lg-2">
        <%= image_tag "samsung.jpg", height: "100" %>
      </div>
      <div class="col-lg-2">
        <%= image_tag "kpmg.jpg", height: "100" %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "layouts/getnotified" %>















