<%= link_to 'Edit', edit_advisor_path(@advisor) %>


<%= image_tag @advisor.avatar.url(:thumb) %>

<p>
  <strong>Name:</strong>
  <%= @advisor.name %>
</p>
 
<p>
  <strong>Summary:</strong>
  <%= @advisor.summary %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @advisor.sector %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @advisor.bandwidth %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @advisor.featured %>
</p>

<p>
  <strong>Bandwidth:</strong>
  <%= @advisor.bandwidth %>
</p>